<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
  <title></title>
</head>
<body>
    <h1>Liste des notes</h1>
    <ol class="list-group">
        {% for n in notes %}
            <li class="list-group-item">{{ n }}</li>
        {% endfor %}
    </ol>
    <div class="alert alert-info">Taille tableau:{{ notes | length }}</div>
    <div class="alert alert-success">Note minimale: {{ min(notes) }}</div>
    <div class="alert alert-success"> Note maximale: {{ max(notes) }}</div>
</body>
</html>